In [ ]:
#1st answer
#sample string is 'google.com'
#initializing string
test_str = 'google.com'
#using naive method to get count of each charcters in string
all_freq = {}

for i in test_str:
    if i in all_freq:
      all_freq[i] += 1
    else:
      all_freq[i] = 1  
#executing the result with
print ("Expected result:\n" + str(all_freq))

Expected result:
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
#2nd answer
#sum of all items in a list
#we need to create a list
list = [1,2,3,4,5]
#we will use sum function
total = sum(list)
#we will execute 
print("sum of all the items in list : ", total)

sum of all the items in list :  15

In [ ]:
#3rd answer
#Get a string from a given string where all occurences of its first char have been changed to '$' except the first char itself
#we need to assign string to a variable
a = "restart"
#using change_char
def change_char(a) :
  char = a[0]
#replacing the character 
  a = a.replace(char, '$')
#to define 1st character
  a = char + a[1:]
  return a
print(change_char(a))

resta$t

In [ ]:
#4th answer
#defining a and b
a = int(input("Enter value of 'a': "))
b = int(input("Enter value of 'b': ")) 
#setting up S formula according to quiestion
S = 3.14 * (1 + a/b)**3
#executing the function
print(S)

Enter value of 'a': 1
Enter value of 'b': 1
25.12

In [ ]:
#5th answer
#program to concatenate dictionaries
#we will input the dictionaries provided in question
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4={}
for d in (dic1,dic2,dic3): dic4.update(d)
print("expected result: ", dic4)

expected result:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#6th answer
#python program to check whether an element exists within a tuple
#first we need to enter a tuple data set
tuplea = ("a","b",1,2,3,"f")
#check whether an element is in tuple or not through true/false
print( "b" in tuplea)
#as b is in tuple we need to get true
print("d" in tuplea)
#as d is not in tuple we need to get false

True
False

In [ ]:
#7th answer
#python program to find maximum and minimum value in a set
#create a random set
seta = {1,2,3,4,5,6,7}
print("sample set elements:")
print(seta)
print(type(seta))
print("\nMaximum value of the set:")
print(max(seta))
print("\nMinimum value of the set:")
print(min(seta))

sample set elements:
{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

Maximum value of the set:
7

Minimum value of the set:
1

In [63]:
#8th answer
#importing random function
import random
#adding participants of class into a list
participants=["ja0964","sa1198","sb1357","vb0218","sc1229","kg0569","kg0470","sg1297","bg0320","fh0141","ji1252","sk1386","ak0956","sk1390","sk1458","sk1313","ak0934","vm0377","nm0618","sm1640","sm1907","gn0108","pr0353","dr0609","ms1500","aos0040","ds0184","av0659","nv0234","hy0232"]
group=1
#defining number of people in a group
membersInGroup=5

for participant in participants:
    if membersInGroup==5:
        print("Group {} consists of;".format(group))
        membersInGroup=0
        group+=1
    person=random.choice(participants)
    print(person)
    membersInGroup+=1

Group 1 consists of;
aos0040
pr0353
sk1313
ds0184
ds0184
Group 2 consists of;
sk1458
nm0618
fh0141
nv0234
ji1252
Group 3 consists of;
ji1252
bg0320
ak0956
vm0377
sm1907
Group 4 consists of;
pr0353
ja0964
pr0353
ak0956
pr0353
Group 5 consists of;
ak0934
aos0040
ak0934
bg0320
sb1357
Group 6 consists of;
gn0108
sk1390
sm1907
sg1297
bg0320

In [71]:
#9th answer
#Creating an array of integers    
array = [1, 2, 3, 4, 1, 2, 3, 6, 7, 8];     
print("Duplicate elements in a given array of integers: ");    
#logic for duplicate elements in the array    
for i in range(0, len(array)):    
    for j in range(i+1, len(array)):    
        if(array[i] == array[j]):    
            print(array[j]);

Duplicate elements in a given array of integers:
1
2
3

In [75]:
#10th answer
#import date and timedelta
from datetime import date, timedelta
#defining sundays of whole year
def all_sundays(year):
# January 1st of the given year
       dt = date(year, 1, 1)
# First Sunday of the given year       
       dt += timedelta(days = 6 - dt.weekday())         
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
#considering 2022          
for s in all_sundays(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25